<!DOCTYPE html>
<html ng-app>
<head>
  <title>First ng app: Test</title>
</head>

<body ng-init="customers=[
  {name:'derek',  city: 'Burlington'}, 
  {name:'tracy',  city: 'Beamsville'}, 
  {name:'bob',    city: 'Hamilton'}, 
  {name:'cheryl', city: 'Hamilton' }]">

  Name:
  <br />
  <input type="text" ng-model="name" /> {{ name }}
  <br />

  <h3>Looping through array of names</h3>
  <ul>
    <li ng-repeat="cust in customers | filter:name"> {{ cust.name | uppercase }} lives in {{ cust.city }}. </li>
  </ul>




  <script src="angular.min.js"></script>
</body>
</html>
