<!DOCTYPE html>
<html ng-app>
<head>
  <title>Filtering an Array with ng</title>
</head>

<body>

<div class="container" ng-controller="SimpleController">  
 
  Search:
  <br />
  <input type="text" ng-model="search" /> {{ Search }}
  <br />

  <h3>Looping through array of names</h3>
  <ul>
    <li ng-repeat="fam in family | filter:search | orderBy:'age'"> 
      {{ fam.name | uppercase }} lives in {{ fam.city }}. Is currently {{ fam.age }} years old. 
    </li>
  </ul>

</div>

<script type="text/javascript" src="familyController.js"></script>
<script src="angular.min.js"></script>
</body>
</html>
