<!DOCTYPE html>
<html ng-app>
<head>
  <title>First ng app: Test</title>
</head>

<body ng-init="customers=[
  {name:'derek',  city: 'Burlington', age: '29'}, 
  {name:'tracy',  city: 'Beamsville', age: '30'}, 
  {name:'bob',    city: 'Hamilton', age: '63'}, 
  {name:'cheryl', city: 'Hamilton', age: '89'}]">

  Name:
  <br />
  <input type="text" ng-model="Search" /> {{ Search }}
  <br />

  <h3>Looping through array of names</h3>
  <ul>
    <li ng-repeat="cust in customers | filter:Search | orderBy:'age'"> {{ cust.name | uppercase }} lives in {{ cust.city }}. Is {{ cust.age }} years old. </li>
  </ul>




  <script src="angular.min.js"></script>
</body>
</html>
